* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #303338;
}
picture > img {
  height: 30vh !important;
  object-fit: cover;
}
nav.position-sticky{
  background-color: #3a497b;
  width: 80%;
  top: 1%;
  padding: 1rem;
  z-index: 99999;
}

.container{
  width: 1200px;
}
.card {
  filter: grayscale(0.7);
  transition: 0.7s ease;
  cursor: pointer;
  background-color: #272B30;
  color: white;
}
.card:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}
.loading .spinner-border {
  --bs-spinner-width: 6rem;
  --bs-spinner-height: 6rem;
}
p {
  font-family: "Righteous", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
